<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Sistema Aeroporto Atalaia</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body>
  <div class="menu-container">
    <img src="/static/logo.jpg" alt="Logo TV Atalaia">
    <h1>ESCOLHA AS OPÇÕES ABAIXO</h1>
    <a href="/gravacoes" class="btn">Programações Cronogramas</a>
    <a href="/cronograma" class="btn">Visualizar Cronograma Completo</a>
    <a href="/relatorios" class="btn">Relatórios e Resumos</a>
  </div>
  </script>

<canvas id="particle-canvas"></canvas>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>